@import "tailwindcss";

:root {
  --swiper-navigation-size: 36px !important;
}
@layer base {
  h1 {
    font-size: var(--text-5xl);
    font-weight: 700;
  }
  h2 {
    font-size: var(--text-4xl);
    font-weight: 700;
  }
  h3 {
    font-size: var(--text-2xl);
    font-weight: 700;
  }
  h4 {
    font-size: var(--text-lg);
    font-weight: 700;
  }
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-weight: bold;
  font-size: 12px !important;
}

.swiper-button-prev,
.swiper-button-next {
  background: #0080f0;
  border-radius: 50% !important;
  color: var(--swiper-navigation-color, #141515) !important;
  width: calc(var(--swiper-navigation-size) / 36 * 36) !important;
  right: var(--swiper-navigation-sides-offset, -20px) !important;
  left: auto;
}

.swiper-button-prev {
  left: var(--swiper-navigation-sides-offset, -20px) !important;
  right: auto;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

@theme {
  --color-primary: #009f7f;
}
